{% extends "base.html" %}
{% block content %}
    <table>
        <tbody>
            <div class="score-spot">
                {% if filme.valuation %}
                    <h2>Score: {{ filme.valuation }}</h2>
                {% endif %}
            </div>
            <movie class="media program-info">
            {% if filme.title == "Breaking Bad" %}
                <img src="../static/breaking_bad.jpg" class="program-image"/>
            {% elif filme.title == "(T)ERROR" %}
                <img src="../static/TERROR.jpg" class="program-image"/>
            {% elif filme.title == "1000 Rupee Note" %}
                <img src="../static/1000_rupee_note.jpg" class="program-image"/>
            {% endif %}
              <div class="media-body">
                <div class="article-metadata">
                    <h2 class="program-title"><a>{{ filme.title }}</a></h2>
                    <small class="text-muted">Added on: {{ filme.date_added }}</small>
                    <small class="text-muted"> - {{ filme.listed_in }}</small>
                    <p><small class="text-muted">{{ filme.duration }}</small></p>
                </div>
                <h5><p class="program-description">{{ filme.description }}</p></h5>
                <small class="text-muted">Cast: {{ filme.cast }}</small>
              </div>
            {% if filme.watched == 'False' %}
            <a href="{% url 'has_watched' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-success">Mark as watched!</button>
            </a>
            {% elif filme.watched == 'True' %}
            <a href="{% url 'has_not_watched' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-danger">Mark as not watched!</button>
            </a>
            {% endif %}
            </movie>
            <div class="button-spot">
                <a href="">
                <button disabled = "disabled"; class="btn btn-primary">Rate this movie:</button>
                </a>
                <a href="{% url 'add_rating_1' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-outline-danger">1</button>
                </a>
                <a href="{% url 'add_rating_2' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-outline-danger">2</button>
                </a>
                <a href="{% url 'add_rating_3' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-outline-warning">3</button>
                </a>
                <a href="{% url 'add_rating_4' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-outline-success">4</button>
                </a>
                <a href="{% url 'add_rating_5' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-outline-success">5</button>
                </a>
                <a href="{% url 'delete_movie' %}?show_id={{ filme.show_id }}">
                <button type="button" class="btn btn-danger btn-remove">Remove Show!</button>
                </a>
            </div>
        </tbody>
    </table>
{% endblock %}