.content-section {
  position: relative;
  background: #e8eae7;
  padding: 5px 10px;
  border: 1px solid #5f752e;
  border-radius: 16px;
  margin-bottom: 25px;
  margin-left: 400px;
  margin-right: 700px;
}

.program-info {
  position: relative;
  background: #a8b4bc;
  padding: 20px 20px;
  border: 1px solid #5f752e;
  border-radius: 16px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}

.button-spot {
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}

.score-spot {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
}

.btn-remove {
  position: absolute;
  right: 0px;
  top: 0px;
}

.btn-seen {
  position: absolute;
  right: 20px;
  top: 0px;
  bottom: 0px;
}

.news-title {
  margin-left: 300px;
}

.navbar-dist {
  margin-top: 150px;
}

.movie-title {
  color: #000000;
}

a.movie-title:hover {
  color: #0c7bdd;
  text-decoration: none;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.program-title {
  color: #ffe92a;
}

.xml-title-green {
  color: #79ff03;
}

.xml-title-red {
  color: #f50505;
}

.program-description {
  color: #ffffff;
  font-size: 17px;
}

a.movie-title:hover {
  color: #428bca;
  text-decoration: none;
}

.movie-content {
  white-space: pre-line;
}

.program-image {
  height: 221px;
  width: 160px;
  margin-right: 16px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 10px;
  border-width: 10px;
}

.user-image {
  height: 200px;
  width: 200px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50px;
  border-width: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #a8b4bc;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.options {
  font-size: 20px;
}

.title {
  font-size: 30px;
}
