{% extends "base.html" %}
{% block content %}
    <table class="navbar-dist">
        <tbody>
        {% for k, v in programas.items %}
                <td class = "media content-section">
                    <a class="movie-title" href="{% url 'filme' %}?show_id={{ k }}">
                        {% for k, v in v.items %}
                            {{ k }}
                            {% if v == 'True' %}
                                <button type="button" class="btn btn-success btn-seen">SEEN</button>
                            {%endif%}
                            {% block prints %}{% endblock %}
                        {% endfor %}
                    </a>
                </td>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}