{% extends "base.html" %}
{% block content %}
    <table>
        <tbody>
            <movie class="media program-info">
            <div class="media-body">
                <div class="article-metadata">
                    {% if imprimir.verifica %}
                    <h2 class="xml-title-green"><a>XML File is valid!</a></h2>
                    {% elif not imprimir.verifica %}
                    <h2 class="xml-title-red"><a>XML File is not valid!</a></h2>
                    {% endif %}
                </div>
            </div>
        </tbody>
    </table>
{% endblock %}