{% extends "base.html" %}
{% block content %}
    <div class="actor-container" about="{{ country.uri }}" typeof="pr:country">
        <p class="actor-title" property="pr:name"><b>{{ country.name }}</b></p>
        <p class="sub-title" property="pr:number_of_shows"><b>Number of shows: </b>{{ country.number }}</p>
        <p rel="pr:movie">
            {% for k,v in country.movies.items %}
            <a class="movie-titles" property="pr:url" href="{% url 'movie' %}?id={{ k }}" typeof="pr:movie">
                <span property="pr:name">-> {{ v }}</span>
                <br>
            </a>
        {% endfor %}
        </p>

    </div>
{% endblock %}
