{% extends "base.html" %}
{% block content %}
    <div class=list-container>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <p class="list-name">Series List</p>
                    <!-- <input class="form-control" type="text" placeholder="Search Movie" aria-label="Search"> -->
                    {% for key, val in allseries_ditc.items %}
                        <div class="row">
                            <div class="col-md-9">
                                <a class="movie-titles" href="{% url 'movie' %}?id={{ key }}">{{ val.title}}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
