{% extends "base.html" %}
{% block content %}
    <form action="/signup_confirm/" method="post">
        {% csrf_token %}
        <div class="list-container">
            <div class="row">
                <div class="col-md-6">

                    <p class="list-name">Sign Up</p>

                    

                    <label class="search-by" for="username">Username:</label>
                    <input id="username" class="form-control pad" type="text" name="username">

                    <label class="search-by" for="email">Email:</label>
                    <input id="email" class="form-control pad" type="text" name="email">

                    <label class="search-by" for="password">Password:</label>
                    <input id="password" class="form-control pad" type="text" name="password">

                    <br>
                    
                    <input type="submit" value="Sign Up">
                    </a>

                </div>
            </div>
        </div>
    </form>
{% endblock content %}
