{% extends "base.html" %}
{% block content %}
<div class="actor-container">
    <div class="row" about="{{ director.uri }}" typeof="pr:director">
        <div class="col-md-6">
            <p class="actor-title" property="pr:name"><b>{{ director_name }}</b></p>
            <p class="sub-title" ><b>Number of shows: </b>{{ number_of_shows }}</p>
            <p rel="pr:directing">
                {% for key,val in director_ditc.items %}
                    <a class="movie-titles" property="pr:url" href="{% url 'movie' %}?id={{ key }}" typeof="pr:movie">
                        <span property="pr:name">-> {{ val.title }}</span>
                        <br>
                    </a>
                {% endfor %}
            </p>
        </div>
        <div class="col-sm-6 align-items-center d-flex justify-content-center">
            {% if director_name == 'Steven Spielberg' %}
                <img src="../static/imgs/spielberg.jpg" class="actor-image"/>
            {% elif director_name == 'Quentin Tarantino' %}
                <img src="../static/imgs/tarantino.jpg" class="actor-image"/>
            {% elif director_name == 'Robert Rodriguez' %}
                <img src="../static/imgs/robert.jpg" class="actor-image"/>
            {% elif director_name == 'Clint Eastwood' %}
                <img src="../static/imgs/clint.jpg" class="actor-image"/>
            {% elif director_name == 'Martin Scorsese' %}
                <img src="../static/imgs/martin.jpg" class="actor-image"/>
            {% elif director_name == 'Troy Miller' %}
                <img src="../static/imgs/troy.jpg" class="actor-image"/>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
