{% extends "base.html" %}
{% block content %}

<div class="home-container">
    <div class="row">
        <div class="col-sm-3 series-display-left">
            <p class="popular-font">Most popular series: </p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'movie' %}?id=3773">
                        <img src="../static/imgs/friends.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=3743">
                        <img src="../static/imgs/gotham.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=2633">
                        <img src="../static/imgs/civil_war.jpg" class="program-image"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'movie' %}?id=2219">
                        <img src="../static/imgs/kingdom.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=2950">
                        <img src="../static/imgs/you.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=477">
                        <img src="../static/imgs/blue_planet.jpg" class="program-image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 series-display-mid">
            <p class="popular-font">Most popular movies: </p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'movie' %}?id=2961">
                        <img src="../static/imgs/avengers.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=2385">
                        <img src="../static/imgs/godzilla.png" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=938">
                        <img src="../static/imgs/matrix.jpg" class="program-image"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'movie' %}?id=3679">
                        <img src="../static/imgs/sherlock.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=2480">
                        <img src="../static/imgs/pulp_fiction.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'movie' %}?id=2390">
                        <img src="../static/imgs/inception.jpg" class="program-image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 series-display-mid ">
            <p class="popular-font">Most popular actors: </p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'actor' %}?id=Jennifer Aniston">
                        <img src="../static/imgs/jennifer.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'actor' %}?id=Samuel L. Jackson">
                        <img src="../static/imgs/samuel.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'actor' %}?id=Julia Roberts">
                        <img src="../static/imgs/julia.jpg" class="program-image"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'actor' %}?id=Dwayne Johnson">
                        <img src="../static/imgs/dwayne.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'actor' %}?id=Oprah Winfrey">
                        <img src="../static/imgs/oprah.png" class="program-image"/>
                    </a>
                    <a href="{% url 'actor' %}?id=Brad Pitt">
                        <img src="../static/imgs/brad_pitt.jpg" class="program-image"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 series-display-right">
            <p class="popular-font">Most popular directors: </p>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'director' %}?id=Steven Spielberg">
                        <img src="../static/imgs/spielberg.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'director' %}?id=Quentin Tarantino">
                        <img src="../static/imgs/tarantino.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'director' %}?id=Robert Rodriguez">
                        <img src="../static/imgs/robert.jpg" class="program-image"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'director' %}?id=Clint Eastwood">
                        <img src="../static/imgs/clint.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'director' %}?id=Martin Scorsese">
                        <img src="../static/imgs/martin.jpg" class="program-image"/>
                    </a>
                    <a href="{% url 'director' %}?id=Troy Miller">
                        <img src="../static/imgs/troy.jpg" class="program-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
