{% extends "base.html" %}
{% block content %}
    {% if error %}
        <p style="..." >Error, please insert the correct information!</p>
    {% endif %}
    <form action="." method="post">
        {% csrf_token %}
            <div class="program-info">
                <h3 class="program-title">Select the file you want to verify with XML Schema</h3>
                <div class="form-group">
                    <select class="form-control" name="xmlfile">
                      <option>streamData.xml</option>
                      <option>streamDataError.xml</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
            </div>
    </form>
{% endblock %}